<ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="qqqqqqq">Not found</a></li>
</ul>

<div class="container">
    <h4>Translate: Hello World</h4>
    <!--languages-->
    <div class="btn-group">
        <button *ngFor="let lang of supportedLangs" (click)="selectLang(lang.value)" class="btn btn-default" [class.btn-primary]="isCurrentLang(lang.value)">
          {{ lang.display }}
      </button>
    </div>
    <div>
        <!--translate with pipe-->
        <p>
            Translate With Pipe: <strong>{{ 'hello world' | translate }}</strong>
        </p>

        <!--translate with service-->
        <p>
            Translate with Service: <strong>{{ translatedText }}</strong>
        </p>

        <!--multiple value-->
        <p>
            Translate <strong class="text-muted">Hello, %0 %1!</strong>:
            <br>
            <strong>{{ 'hello greet' | translate:['Jane', 'Doe'] }}</strong>
        </p>

        <!--single value-->
        <p>
            Translate <strong class="text-muted">Well done %0</strong>:
            <br>
            <strong>{{ 'well done' | translate:'John' }}</strong>
        </p>

        <p>
            Translate <strong class="text-muted">Good bye (fallback)</strong>: 
            <br>
            <strong>{{ 'good bye' | translate }}</strong>
        </p>

    </div>
</div>


<router-outlet></router-outlet>